XML/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
	
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="book" type="bookType"/>

<xsd:complexType name="bookType">

<xsd:sequence>

<xsd:element name="author" type="xsd:string"/>
<xsd:element name="title" type="xsd:string"/>

</xsd:sequence>
</xsd:complexType>
</xsd:schema>