UNIT 2 XML/a4.dtd

<!ELEMENT STUDENT (NAME,ID,PLAN)>
<!ELEMENT NAME (FNAME,LNAME)>
<!ELEMENT FNAME (#PCDATA)>
<!ELEMENT LNAME (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT PLAN (COURSES)>
<!ELEMENT COURSES (COURSE)>
<!ATTLIST COURSES year CDATA #REQUIRED>
<!ELEMENT COURSE (COURSE_NAME,SHORT_NAME,RECORD)>
<!ELEMENT COURSE_NAME (#PCDATA)>
<!ELEMENT SHORT_NAME (#PCDATA)>
<!ELEMENT RECORD (GRADE,DATE)>
<!ELEMENT GRADE (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>