UNIT 2 XML/a5.dtd

<!ELEMENT EMAIL (FROM,TO,CONTENT)>
<!ELEMENT FROM (#PCDATA)>
<!ELEMENT TO (#PCDATA)>
<!ELEMENT CONTENT (#PCDATA|PERSON|EXERCISES|COURSE)*>
<!ELEMENT PERSON (#PCDATA)>
<!ELEMENT EXERCISES (EXERCISE+)>
<!ELEMENT EXERCISE (TOPIC,DESCRIPTION)>
<!ELEMENT TOPIC (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT COURSE (#PCDATA)>