UNIT 2 XML/a7.dtd

<!ELEMENT LETTER (CONTACT+,SALUTATION,PARAGRAPH,CLOSING,SIGNATURE)>
<!ELEMENT CONTACT (NAME,ADDRESS,CITY,PIN,STATE,FLAG)>
<!ATTLIST CONTACT type CDATA #FIXED "SENDER">
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT ADDRESS (#PCDATA)>
<!ELEMENT CITY (#PCDATA)>
<!ELEMENT PIN (#PCDATA)>
<!ELEMENT STATE (#PCDATA)>
<!ELEMENT FLAG EMPTY>
<!ATTLIST FLAG gender (MALE|FEMALE) "MALE">
<!ELEMENT SALUTATION (#PCDATA)>
<!ELEMENT PARAGRAPH (#PCDATA)>
<!ELEMENT CLOSING (#PCDATA)>
<!ELEMENT SIGNATURE (#PCDATA)>
